body {
margin : 0;
padding : 0;
}
a {
text-decoration : none;
color : inherit;
font-family : "syne", sans-serif;
}
header {
display : flex;
flex-direction : row;
max-width : 1300px;
min-width : 780px;
width : 100%;
z-index : 1000;
}
.logo {
display : flex;
flex-direction : row;
margin-right : 1200px;
margin-bottom : -115px;
}
#logo {
margin-left : 35px;
margin-bottom : -160px;
margin-top : 20px;
}
.menu {
padding-left : 524px;
justify-content : space-between;
list-style-type : none;
display : flex;
width : 100%;
top : 0;
z-index : 1000;
}
.menu-21 {
margin-left : 556px;
}
.menu-21 li:first-child a {
white-space : nowrap;
}
nav {
width : 100%;
padding : 0;
margin : 0;
margin-bottom : -150px;
}
img {
display : block;
border-style : none;
}
nav li {
margin-left : 150px;
}
nav ul {
display : flex;
list-style : none;
align-items : center;
}
body {
font-family : 'Syne';
}
button:not(:disabled) {
cursor : pointer;
}
.button-commander {
width : 236px;
height : 80px;
background-color : #DC9F96;
color : white;
border : none;
font-family : "syne", sans-serif !important ;
font-size : 16px;
padding-top : 33px;
padding-left : 63px;
}
.nav-link {
width : 236px;
height : 80px;
border : none;
font-family : "syne", sans-serif !important ;
font-size : 16px;
}
.button-commander span {
font-family : "syne", sans-serif;
}
.Nav-commander {
margin-top : 50px;
}
.nav-item2 {
text-align : center;
padding-top : 350px;
padding-bottom : 50px;
}
@media screen and (max-width: 1150px) {
.menu-21 {
display : none;
}
}
#logo {
max-width : 100%;
height : auto;
}
@media screen and (max-width: 530px) {
#logo {
max-width : 80%;
visibility : visible;
}
}
@media screen and (min-width: 531px) {
#logo {
max-width : none;
}
}
body {
overflow-x : hidden;
}
@media (max-width: 1440px) {
.quantity-container {
display : flex;
flex-direction : column;
}
.quantity-container1 {
display : flex;
flex-direction : column;
}
.quantity-container2 {
display : flex;
flex-direction : column;
}
.quantity-container3 {
display : flex;
flex-direction : column;
}
#research {
display : flex;
flex-direction : column;
}
html, body {
width : 100%;
overflow-x : hidden;
}
}
body {
font-family : 'Syne', sans-serif;
}
header {
position : relative;
}
.menu-21 {
position : absolute;
top : 0;
right : 0;
}
.menu {
list-style : none;
margin : 0;
padding : 0;
display : flex;
}
.nav-item-link {
margin-right : 20px;
}
.nav-item-link a {
text-decoration : none;
color : #000;
font-size : 16px;
}
.nav-item-link a:hover {
color : #ff0000;
}
